<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{!-- <div>Hi my name is {{name}}</div> --}}

{{!-- <ul>
    {{#each users}}
    <li>{{this}}</li>
    {{/each}}
      
</ul> --}}

<ul>
    {{#each cats}}
    <li>{{name}}</li>
        {{!-- <li>{{favoriteToy}}</li> --}}
    {{/each}}
      
</ul>
